<!DOCTYPE html>
<html>
<head>
    <title>MathsGuessr - <%= type %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="page-container">
        <div id="leaderboard-container">
            <h2>Leaderboard</h2>
            <ul id="leaderboard"></ul>
        </div>
        <div class="game-wrapper">
            <h1>MathsGuessr - <%= type %></h1>
            <div id="game-container">
                <div id="question-display"></div>
                <% if (type === 'number-line') { %>
                    <div class="number-line-container">
                        <canvas id="number-line-canvas"></canvas>
                    </div>
                <% } else if (type === 'cartesian-plane') { %>
                    <div class="cartesian-plane-container">
                        <canvas id="cartesian-plane-canvas"></canvas>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</body>
</html>
