<!DOCTYPE html>
<html>
<head>
    <title>Math Guesser</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to Math Guesser!</h1>
    <p>Choose a game type:</p>
    <ul>
        <li><a href="/game/number-line">Number Line</a></li>
        <li><a href="/game/cartesian-plane">Cartesian Plane</a></li>
    </ul>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</body>
</html>
